<footer id="footer" class="footer bg-gray-900 text-white py-4" role="contentinfo">
    <div class="flex flex-row justify-between container m-auto">
        <div class="">
            <h3 class="text-lg font-normal mb-2">Contact Information</h3>
            <hr class="border-b w-16 mb-6 border-blue-400">
            <address class="text-gray-500 text-sm font-normal not-italic">
                <ul>
                    <li>Mansion Nursing & Rehabilitation Center</li>
                    <li>104 Clay Street</li>
                    <li>Central Falls, RI</li>
                    <li>02863-3023</li>
                </ul>
                <ul class="mt-6">
                    <li>Main: 401-722-0830</li>
                    <li>Office: 401-726-5020</li>
                    <li>Fax: 401-728-1814</li>
                </ul>
            </address>
        </div>
        <div class="">
            <h3 class="text-lg font-normal mb-2">Contact Information</h3>
            <hr class="border-b w-16 mb-6 border-blue-400">
            <address class="text-gray-500 text-sm font-normal not-italic">
                <ul>
                    <li>Mansion Nursing & Rehabilitation Center</li>
                    <li>104 Clay Street</li>
                    <li>Central Falls, RI</li>
                    <li>02863-3023</li>
                </ul>
                <ul class="mt-6">
                    <li>Main: 401-722-0830</li>
                    <li>Office: 401-726-5020</li>
                    <li>Fax: 401-728-1814</li>
                </ul>
            </address>
        </div>
        <div class="">
            <h3 class="text-lg font-normal mb-2">Contact Information</h3>
            <hr class="border-b w-16 mb-6 border-blue-400">
            <address class="text-gray-500 text-sm font-normal not-italic">
                <ul>
                    <li>Mansion Nursing & Rehabilitation Center</li>
                    <li>104 Clay Street</li>
                    <li>Central Falls, RI</li>
                    <li>02863-3023</li>
                </ul>
                <ul class="mt-6">
                    <li>Main: 401-722-0830</li>
                    <li>Office: 401-726-5020</li>
                    <li>Fax: 401-728-1814</li>
                </ul>
            </address>
        </div>
    </div>
    <section class="flex justify-between container m-auto">
        <div>Copyright, Mansion Inc. 2018</div>
        <div>Privacy Practices | HIPAA | Corporate Compliance</div>
    </section>
     
</footer>