<footer id="footer" class="footer bg-iron text-white py-4" role="contentinfo">
    <div class="flex flex-row container m-auto mb-8">
        <div class="w-1/3 bg-blue-500 p-6">
            <h2 class="text-2xl font-light">
                <a href="http://mansionnursing.com/about/" title="About">About</a>
            </h2>
            <p class="text-sm">
                <a class="" href="http://mansionnursing.com/about/" title="A tradition of excellence in caregiving">A tradition of excellence in caregiving --></a>
            </p>
        </div>
        <div class="w-1/3 bg-blue-700 p-6">
            <h2 class="text-2xl font-light">
                <a href="http://mansionnursing.com/about/" title="About">About</a>
            </h2>
            <p class="text-sm">
                <a class="" href="http://mansionnursing.com/about/" title="A tradition of excellence in caregiving">A tradition of excellence in caregiving --></a>
            </p>
        </div>
        <div class="w-1/3 bg-blue-800 p-6">
            <h2 class="text-2xl font-light">
                <a href="http://mansionnursing.com/about/" title="About">About</a>
            </h2>
            <p class="text-sm">
                <a class="" href="http://mansionnursing.com/about/" title="A tradition of excellence in caregiving">A tradition of excellence in caregiving --></a>
            </p>
        </div>
    </div>
    <div class="flex flex-row justify-between container m-auto">
        <div class="">
            <h3 class="text-lg font-normal mb-2">Contact Information</h3>
            <hr class="border-b w-16 mb-6 border-blue-400">
            <address class="text-gray-500 text-sm font-normal not-italic">
                <ul>
                    <li>Mansion Nursing & Rehabilitation Center</li>
                    <li>104 Clay Street</li>
                    <li>Central Falls, RI</li>
                    <li>02863-3023</li>
                </ul>
                <ul class="mt-6">
                    <li>Main: 401-722-0830</li>
                    <li>Office: 401-726-5020</li>
                    <li>Fax: 401-728-1814</li>
                </ul>
            </address>
        </div>
        <div class="">
            <h3 class="text-lg font-normal mb-2">Latest News</h3>
            <hr class="border-b w-16 mb-6 border-blue-400">
            <div class="text-gray-500 text-sm font-normal not-italic">
                <ul>
                    <li class="flex flex-col">
                        <div>
                            <span class="mr-2">--></span>
                            <a class="font-bold hover:underline text-gray-200" href="http://mansionnursing.com/walk-to-end-alzheimers/">Walk to End Alzheimer’s</a>
                        </div>
                        <div>
                            <span class="ml-8 text-xs text-blue-400">6 years ago</span></div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="">
            <h3 class="text-lg font-normal mb-2">Online Resources</h3>
            <hr class="border-b w-16 mb-6 border-blue-400">
            <div class="text-gray-200 text-sm font-normal not-italic">
                <ul class="leading-relaxed">
                    <li>
                        <a class="hover:underline" href="http://www.dea.ri.gov" target="_blank">RI Dept. of Human Services, Elderly Affairs</a>
                    </li>
                    <li>
                        <a class="hover:underline" href="http://longtermcare.gov/" target="_blank">Longtermcare.gov – Medicare &amp; Medicaid resources</a>
                    </li>
                    <li>
                        <a class="hover:underline" href="http://www.aarp.org/home-family/caregiving/" target="_blank">AAPR – Caregiving Resource Center</a>
                    </li>
                    <li>
                        <a class="hover:underline" href="https://www.benefitscheckup.org/" target="_blank">Benefits Check Up – Help locating resources</a>
                    </li>
                    <li>
                        <a class="hover:underline" href="http://aoa.gov/" target="_blank">Administration on Aging Website</a>
                    </li>
                    <li>
                        <a class="hover:underline" href="http://nihseniorhealth.gov/" target="_blank">NIH – Senior Health Portal</a>
                    </li>
                    <li>
                        <a class="hover:underline" href="http://www.rihca.com" target="_blank">Rhode Island Healthcare Association</a>
                    </li>
                    <li>
                        <a class="hover:underline" href="http://www.visionaryhealthcarenetwork.com" target="_blank">Visonary Healthcare Network</a>
                    </li>
                    <li>
                        <a class="hover:underline" href="http://www.ahcancal.org" target="_blank">American Health Care Association</a>
                    </li>
                    <li>
                        <a class="hover:underline" href="https://health.usnews.com/best-nursing-homes/area/ri" target="_blank">U.S. News - Nursing Homes in RI</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <section class="flex justify-between container m-auto border-t border-gray-700 mt-12">
        <div class="text-xs my-2">Copyright, Mansion Inc. 2018</div>
        <div class="text-xs my-2">
            <a class="border-r border-gray-300 pr-3 mr-3 hover:underline" href="">Privacy Practices</a>
            <a class="border-r border-gray-300 pr-3 mr-3 hover:underline" href="">HIPAA</a>
            <a class="hover:underline" href="">Corporate Compliance</a>
        </div>
    </section>
</footer>