<footer id="footer" class="footer flex flex-col bg-gray-900 py-4" role="contentinfo">
    <div class="flex-item">
        <h3>Contact Information</h3>
        <hr>
    Mansion Nursing & Rehabilitation Center
104 Clay Street
Central Falls, RI
02863-3023
Main: 401-722-0830
Office: 401-726-5020
Fax: 401-728-1814
    </div>
    <div class="flex-item"></div>
    <div class="flex-item"></div>
</footer>