<header id="header" class="header py-6 w-full bg-white" role="banner">
	<div class="container m-auto flex justify-between">
	{% include 'components/logo.njk' %}
	{% include 'components/nav.njk' %}
	</div>
</header>