---
layout: default
meta_title: Sign Up for Medicare
meta_description: Your Profile
body_class: profile
title: Welcome back.
---

<main id="main" class="main">
    <div class="promo-img w-full">
        <div class="w-11/12 mx-auto pt-32">
            <h1 class="text-6xl font-light text-white w-7/12">Historic Setting, Latest Technology</h1>
            <p class="text-xl text-white w-6/12">Using the latest information technology to provide the highest standards of care.</p>
            <ul class="flex mt-20">
                <li class="flex-1 p-6" style="background-color: #42b3e5;">
                    <div class="home_box">
                        <h2 class="text-white mb-4 text-2xl font-normal">About the Mansion</h2>
                        <div class="text-white">
                            <p class="text-sm mb-4">We have been providing care to the elderly for over 60 years. Our mission is to restore each resident to maximum function.</p>
                            <a class="text-sm p-2 border border-white hover:bg-gray-600" title="Read more" href="http://mansionnursing.com/about/">Read more --></a>
                        </div>
                    </div>
                </li>
                <li class="flex-1 p-6" style="background-color: #0384ce;">
                    <div class="home_box">
                        <h2 class="text-white mb-4 text-2xl font-normal">About the Mansion</h2>
                        <div class="text-white">
                            <p class="text-sm mb-4">We have been providing care to the elderly for over 60 years. Our mission is to restore each resident to maximum function.</p>
                            <a class="text-sm p-2 border border-white hover:bg-gray-600" title="Read more" href="http://mansionnursing.com/about/">Read more --></a>
                        </div>
                    </div>
                </li>
                <li class="flex-1 p-6" style="background-color: #3156a3;">
                    <div class="home_box">
                        <h2 class="text-white mb-4 text-2xl font-normal">Visiting Hours</h2>
                        <div class="text-white">
                            <div class="text">
                                <ul class="text-sm">
                                    <li class="mb-4 pb-2 flex border-b border-gray-500 justify-between">
                                        <span>Monday - Friday</span>
                                        <div class="value">11:00 am - 7:00 pm</div>
                                    </li>
                                    <li class="mb-4 pb-2 flex border-b border-gray-500 justify-between">
                                        <span>Weekends</span>
                                        <div class="value">11:00 am - 7:00 pm</div>
                                    </li>
                                    <li class="mb-4 pb-2 flex border-b border-gray-500 justify-between">
                                        <span>Flexibility is given to out-of-town visitors.</span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="mx-auto w-4/5 flex flex-wrap py-6">
        <div class="w-1/2 p-6 flex">
            <p class="flex-none">
                <a href="http://mansionnursing.com/rehabilitation/"><img style="display: block; width: 76px; height: 88px; float: left; margin-right: 30px;" src="http://mansionnursing.com/wp-content/themes/medicenter/images/icons_large/blue_light/tick.png" alt="" width="76" height="88"></a>
            </p>
            <div class="">
                <h3 class="text-normal font-medium mb-2">Rehabilitation Services</h3>
                <p class="text-sm">Comprehensive rehabilitation services are available for residents and patients to maximize function and decrease pain.</p>
                <a class="text-sm text-blue-600 hover:underline" href="http://mansionnursing.com/rehabilitation/">Read more&nbsp;→</a>
            </div>
        </div>
        <div class="w-1/2 p-6 flex">
            <p class="flex-none">
                <a href="http://mansionnursing.com/rehabilitation/"><img style="display: block; width: 76px; height: 88px; float: left; margin-right: 30px;" src="http://mansionnursing.com/wp-content/themes/medicenter/images/icons_large/blue_light/network.png" alt="" width="76" height="88"></a>
            </p>
            <div class="">
                <h3 class="text-normal font-medium mb-2">Technology</h3>
                <p class="text-sm">We are committed to using the latest technology and tools to consistently improve our delivery of services and care.</p>
                <a class="text-sm text-blue-600 hover:underline" href="http://mansionnursing.com/rehabilitation/">Read more&nbsp;→</a>
            </div>
        </div>
        <div class="w-1/2 p-6 flex">
            <p class="flex-none">
                <a href="http://mansionnursing.com/rehabilitation/"><img style="display: block; width: 76px; height: 88px; float: left; margin-right: 30px;" src="http://mansionnursing.com/wp-content/themes/medicenter/images/icons_large/blue_light/people.png" alt="" width="76" height="88"></a>
            </p>
            <div class="">
                <h3 class="text-normal font-medium mb-2">Activities Program</h3>
                <p class="text-sm">Our activities program uses a holistic approach designed to enrich the mind, body, and spirit of our residents.</p>
                <a class="text-sm text-blue-600 hover:underline" href="http://mansionnursing.com/rehabilitation/">Read more&nbsp;→</a>
            </div>
        </div>
        <div class="w-1/2 p-6 flex">
            <p class="flex-none">
                <a href="http://mansionnursing.com/rehabilitation/"><img style="display: block; width: 76px; height: 88px; float: left; margin-right: 30px;" src="http://mansionnursing.com/wp-content/themes/medicenter/images/icons_large/blue_light/heart.png" alt="" width="76" height="88"></a>
            </p>
            <div class="">
                <h3 class="text-normal font-medium mb-2">Dietary Program</h3>
                <p class="text-sm">Our food culture is robust, healthy, tasty, and an extension of our caregiving — our residents enjoy their meals.</p>
                <a class="text-sm text-blue-600 hover:underline" href="http://mansionnursing.com/rehabilitation/">Read more&nbsp;→</a>
            </div>
        </div>
    </div>
</main>