---
layout: default
meta_title: Sign Up for Medicare
meta_description: Your Profile
body_class: profile
title: Welcome back.
---

<main id="main" class="main">
    <div class="promo-img w-full">
        <div class="w-11/12 mx-auto pt-32">
            {# Typeform zone #}
            <div class="typeform-widget" data-url="https://stephenszermer653531.typeform.com/to/RLZR7A" style="width: 100%; height: 500px;"></div>
            <script>
                (function () {
                    var qs,
                        js,
                        q,
                        s,
                        d = document,
                        gi = d.getElementById,
                        ce = d.createElement,
                        gt = d.getElementsByTagName,
                        id = "typef_orm",
                        b = "https://embed.typeform.com/";
                    if (!gi.call(d, id)) {
                        js = ce.call(d, "script");
                        js.id = id;
                        js.src = b + "embed.js";
                        q = gt.call(d, "script")[0];
                        q
                            .parentNode
                            .insertBefore(js, q)
                    }
                })()
            </script>
            <div style="font-family: Sans-Serif;font-size: 12px;color: #999;opacity: 0.5; padding-top: 5px;"> powered by <a href="https://admin.typeform.com/signup?utm_campaign=RLZR7A&utm_source=typeform.com-01DZANZ0G6W9X0H2KMJXX4CH8C-premium&utm_medium=typeform&utm_content=typeform-embedded-poweredbytypeform&utm_term=EN" style="color: #999" target="_blank">Typeform</a>
            </div>
        </div>
    </div>
    <div class="mx-auto w-4/5 flex flex-wrap py-6">
        <div class="w-1/2 p-6 flex">
            <p class="flex-none">
                <a href="http://mansionnursing.com/rehabilitation/"><img style="display: block; width: 76px; height: 88px; float: left; margin-right: 30px;" src="http://mansionnursing.com/wp-content/themes/medicenter/images/icons_large/blue_light/tick.png" alt="" width="76" height="88"></a>
            </p>
            <div class="">
                <h3 class="text-normal font-medium mb-2">Rehabilitation Services</h3>
                <p class="text-sm">Comprehensive rehabilitation services are available for residents and patients to maximize function and decrease pain.</p>
                <a class="text-sm text-blue-600 hover:underline" href="http://mansionnursing.com/rehabilitation/">Read more&nbsp;→</a>
            </div>
        </div>
        <div class="w-1/2 p-6 flex">
            <p class="flex-none">
                <a href="http://mansionnursing.com/rehabilitation/"><img style="display: block; width: 76px; height: 88px; float: left; margin-right: 30px;" src="http://mansionnursing.com/wp-content/themes/medicenter/images/icons_large/blue_light/network.png" alt="" width="76" height="88"></a>
            </p>
            <div class="">
                <h3 class="text-normal font-medium mb-2">Technology</h3>
                <p class="text-sm">We are committed to using the latest technology and tools to consistently improve our delivery of services and care.</p>
                <a class="text-sm text-blue-600 hover:underline" href="http://mansionnursing.com/rehabilitation/">Read more&nbsp;→</a>
            </div>
        </div>
        <div class="w-1/2 p-6 flex">
            <p class="flex-none">
                <a href="http://mansionnursing.com/rehabilitation/"><img style="display: block; width: 76px; height: 88px; float: left; margin-right: 30px;" src="http://mansionnursing.com/wp-content/themes/medicenter/images/icons_large/blue_light/people.png" alt="" width="76" height="88"></a>
            </p>
            <div class="">
                <h3 class="text-normal font-medium mb-2">Activities Program</h3>
                <p class="text-sm">Our activities program uses a holistic approach designed to enrich the mind, body, and spirit of our residents.</p>
                <a class="text-sm text-blue-600 hover:underline" href="http://mansionnursing.com/rehabilitation/">Read more&nbsp;→</a>
            </div>
        </div>
        <div class="w-1/2 p-6 flex">
            <p class="flex-none">
                <a href="http://mansionnursing.com/rehabilitation/"><img style="display: block; width: 76px; height: 88px; float: left; margin-right: 30px;" src="http://mansionnursing.com/wp-content/themes/medicenter/images/icons_large/blue_light/heart.png" alt="" width="76" height="88"></a>
            </p>
            <div class="">
                <h3 class="text-normal font-medium mb-2">Dietary Program</h3>
                <p class="text-sm">Our food culture is robust, healthy, tasty, and an extension of our caregiving — our residents enjoy their meals.</p>
                <a class="text-sm text-blue-600 hover:underline" href="http://mansionnursing.com/rehabilitation/">Read more&nbsp;→</a>
            </div>
        </div>
    </div>
</main>